.cards {
    border: none;
    background-color: transparent;
    max-width: 100px;
    perspective: 400px;
    transform: rotateY(-180deg);
    cursor: pointer;
}

.virado .card-turn {
    transition: 1s;
    transform: rotateY(180deg);
}

.virado.card-noturn {
    transition: 1s;
    transform: rotateY(180deg);
}


.cards img {
    width: 100%;
    border-radius: 5px;
}
